= semantic_form_for [:admin, @banner]  do |f|
  = f.semantic_errors *f.object.errors.keys
  =f.inputs 'Title' do
    = f.input :title, label: false
  =f.inputs 'Button name' do
    = f.input :button_name, label: false
  =f.inputs 'Url' do
    = f.input :url, label: false, placeholder: 'http://google.com'
  =f.inputs 'Positions' do
    = f.input :positions, label: false, as: :check_boxes, collection: [['Условия покупки', 1, checked: @banner.positions.include?('1')],
                                                                       ['Контакты', 2, checked: @banner.positions.include?('2')],
                                                                       ['Платья', 3, checked: @banner.positions.include?('3')],
                                                                       ['Спасибо за покупку', 4, checked: @banner.positions.include?('4')]]
  = f.actions
