!!!
%html
  %head
    %title TopazaShop
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => '//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css', rel: 'stylesheet', type: 'text/css'}
    %script{src: '//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.min.js', type: 'text/javascript'}
    = csrf_meta_tags
  %body
    .main_container
      .header
        .header_container
          .header_container__logo
            = link_to 'http://topaza.lvl0nax.lclients.ru' do
              = image_tag image_url('logo.png')
          .header_container__menu
            = link_to 'ГЛАВНАЯ', root_path, {class: ('current_page_link' if current_page?(root_path))}
            = link_to 'МАГАЗИН', dresses_path, {class: ('current_page_link' if current_page?(dresses_path))}
            = link_to 'РАЗМЕРЫ', dresses_sizes_path, {class: ('current_page_link' if current_page?(dresses_sizes_path))}
            = link_to 'УСЛОВИЯ ПОКУПКИ', conditions_path, {class: ('current_page_link' if current_page?(conditions_path))}
            = link_to 'КОНТАКТЫ', contacts_path, {class: ('current_page_link' if current_page?(contacts_path))}
      .main_content
        = yield
      .footer
        .footer_container
          .footer_container__social_links
            %a{href: 'http://vk.com/topazapella'} ВКОНТАКТЕ
            %a{href: 'https://www.facebook.com/topazapellacouture'} FACEBOOK
            %a{href: 'http://instagram.com/topazapella_couture'} INSTAGRAM
            %a{href: 'http://ok.ru/group/53116532621566'} ОДНОКЛАССНИКИ
